.header-title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    margin: 0 75px;
    /*min-width: 1240px;*/
}

.registration {
    background-color: #018ABE;
    min-width: 155px;
    min-height: 36px;
    margin-top: 13px;
    padding: 9px 15px;
    border-radius: 3px;
}

.registration a {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-top: 21px;
    margin: 0 10px;
}