.header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    margin: 0 auto 70px auto;
    max-width: 1300px;
}

.registration {
    background-color: #018ABE;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.registration a {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    padding: 9px 15px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}