.header-title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    margin: 30px 25px 0;
}

.registration {
    background-color: #018ABE;
    display: flex;
    align-items: center;
    padding: 9px 15px;
    border-radius: 3px;
}

.registration a {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 0 10px;
}