@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('ProximaNovaT-Thin.eot');
    src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('ProximaNovaT-Thin.woff') format('woff'),
    url('ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    background-color: #162831;
    width: 1920px;
    font-family: 'Proxima Nova Thin';
}

.main-image1 {
    text-align: center;
    margin-top: 50px;
    position: relative;
}

.front-title {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 400px;*/
    color: white;
    font-size: 24px;
    margin: 0px auto;
    position: absolute;
    top: 136px;
    left: 530px;
    right: 530px;
    gap: 80px;
    font-family: 'El Messiri', sans-serif;
}

.front-image2, .front-image3 {
    width: 28px;
    height: 14px;
}