@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('ProximaNovaT-Thin.eot');
    src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('ProximaNovaT-Thin.woff') format('woff'),
    url('ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    position: relative;
    background-color: #162831;
    font-family: 'Proxima Nova Thin', serif;
    padding: 30px 15px 0 15px;
}
main {
    margin: 0 auto;
    max-width: 1300px;
}
.main-image {
    text-align: center;
    margin: 50px auto 150px;
    position: relative;
    max-width: 100%;
}
.main-image img {
    max-width: 100%;
}
.front-title {
    color: white;
    font-size: 24px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'El Messiri', sans-serif;
}
.front-title-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    font-size: 24px;
    margin-bottom: 80px;
    padding: 0 15px;
}
.front-image-one, .front-image-two {
    transform: scale(1, -1);
    width: 28px;
    height: 14px;
}
.front-title-bottom {
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 590px;
    font-size: 64px;
    text-align: center;
    line-height: 1.4;
}
.h2-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 42px;
    font-family: 'El Messiri', sans-serif;
    gap: 45px;
}
.session-variation {
    max-width: 1300px;
    display: flex;
    gap: 25px;
    margin: 0 auto 150px;
    color: white;
    font-family: 'El Messiri', sans-serif;
}
.variation {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 25px;
}
.standart {
    display: flex;
    width: 50%;
    min-height: 540px;
    background-image: url("../images/session.png");
    background-size: cover;
    position: relative;
    border-radius: 10px;
}
.standart-line {
    width: 99.8%;
    margin-top: 530px;
    padding: 5px 0 5px 0;
    background-color: #018ABE;
    border-radius: 0 0 10px 10px;
    display: none;
}
.session-rs {
    display: flex;
    background-image: url("../images/session1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 260px;
    position: relative;
}
.session-variation a {
    position: absolute;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 24px;
    padding: 0 40px 30px 40px;
}
.session-rs-line {
    width: 100%;
    margin-top: 250px;
    padding: 5px 0 5px 0;
    background-color: #018ABE;
    border-radius: 0 0 10px 10px;
    display: none;
}
.standart:hover .standart-line,
.session-rs:hover .session-rs-line {
    display: block;
}
.reviews-one {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 640px;
    min-height: 350px;
    background-color: #018ABE;
    border-radius: 10px;
}
.title-reviews {
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 50px 60px 20px;
}
.description-reviews-one {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    color: white;
    padding: 0 60px;
    line-height: 140%;
    font-size: 14px;
}
.description-reviews-one p {
    margin-bottom: 20px;
}
.slider {
    display: flex;
    justify-content: space-between;
    margin: 60px auto 150px;
    width: 100px;
}
.slider-reviews {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 3px;
    display: flex;
    opacity: 0.4;
}
.slider-reviews-one {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 3px;
    display: flex;
}
.info-rs {
    max-width: 1100px;
    min-height: 870px;
    margin: 0 auto 150px;
    gap: 100px;
    display: flex;
    flex-direction: column;
}
.info {
    max-width: 100%;
    min-height: 50%;
    gap: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description-info {
    max-width: 40%;
    color: white;
    line-height: 140%;
}
.info h3 {
    max-width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.description-info p {
    max-width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    font-family: "Proxima Nova Thin", sans-serif;
}
.description-info p:not(:last-child) {
    margin-bottom: 10px;
}
.image-info {
    max-width: 50%;
}
.image-info img {
    max-width: 100%;
}
.price {
    max-width: 1100px;
    min-height: 350px;
    margin: 0 auto 150px;
    gap: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-price-decor {
    max-width: 18px;
    margin-right: 20px;
}
.description-currency {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.table-row {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    gap: 15px;
}
.table-row:not(:last-child) {
    margin-bottom: 30px;
}
.table-column {
    font-size: 18px;
    line-height: 140%;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    color: white;
}
.description {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 400;
}
.certificate {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.certificate span {
    text-align: center;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 140%;
    color: white;
    margin-top: 30px;
}
.address {
    max-width: 1300px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.maps {
    display: flex;
    flex-basis: 75%;
}

.img {
    display: flex;
    flex-basis: 100%;
    border-radius: 10px;
}

.address-info {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    gap: 15px;
}

.waterpool {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    gap: 20px;
    background-color: #018ABE;
    border-radius: 10px;
    padding: 30px 45px;
}

.wp-title {
    font-family: "El Messiri", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.wp-address {
    display: flex;
    gap: 20px;
}

.pl {
    padding-left: 3px;
}

.wp-description {
    font-size: 14px;
    font-family: "Proxima Nova Thin", sans-serif;
    color: white;
    padding-top: 3px;
}

.click {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    width: 155px;
    height: 35px;
    margin-top: 10px;
    border-radius: 3px;
}

.click a {
    font-size: 13px;
    padding: 9px 15px;
    color: #018ABE;
    font-weight: 600;
    font-family: "Proxima Nova Thin", sans-serif;
}