@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('ProximaNovaT-Thin.eot');
    src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('ProximaNovaT-Thin.woff') format('woff'),
    url('ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    background-color: #162831;
    width: 1920px;
    font-family: 'Proxima Nova Thin', serif;
}

h2 {
    color: white;
}

.main-image1 {
    text-align: center;
    margin-top: 50px;
    position: relative;
}

.front-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    margin: 0 auto;
    position: absolute;
    top: 136px;
    left: 530px;
    right: 530px;
    gap: 65px;
    font-family: 'El Messiri', sans-serif;
}

.front-image1, .front-image2, .front-image3, .front-image4 {
    width: 28px;
    height: 14px;
}

.front-bigspan {
    width: 590px;
    position: absolute;
    top: 70px;
    font-size: 64px;
    text-align: center;
    line-height: 140%;
}

.session-text, .reviews-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 42px;
    font-family: 'El Messiri', sans-serif;
    gap: 45px;
}

.session-variation {
    display: flex;
    width: 1300px;
    height: 550px;
    gap: 25px;
    margin: 0 auto;
    color: white;
    font-family: 'El Messiri', sans-serif;
}

.variation {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.standart {
    width: 420px;
    height: 540px;
    background-image: url("../images/session.png");
    position: relative;
}

.standart span {
    position: absolute;
    top: 455px;
    left: 50px;
    font-size: 24px;
}

.pair span, .pregnant span {
    position: absolute;
    top: 195px;
    left: 50px;
    font-size: 24px;
}

.under-water span, .photoshoot span {
    position: absolute;
    top: 170px;
    left: 50px;
    font-size: 24px;
    width: 340px;
}

.standart::after {
    content: '';
    margin-top: 540px;
    padding: 5px 0 5px 0;
    background-color: #018ABE;
    border-radius: 0 0 10px 10px;
    display: flex;
}

.pair, .pregnant, .under-water, .photoshoot {
    background-image: url("../images/session1.png");
    background-repeat: no-repeat;
    width: 420px;
    height: 260px;
    position: relative;
}

.reviews1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 640px;
    height: 350px;
    background-color: #018ABE;
}

.reviews1 h3 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 50px 60px 20px;
}

.reviews-p {
    color: white;
    margin: 0 60px;
    line-height: 140%;
}

.slider {
    display: flex;
    justify-content: space-between;
    margin: 60px auto 150px;
    width: 100px;
}

.slider-reviews {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 3px;
    display: flex;
    opacity: 0.4;
}