/*.....Media for HEADER.....*/
@media (max-width: 1110px) {
    .header-title {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        align-items: center;
        margin: 30px 40px 0;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}
@media (max-width: 830px) {
    .navigation {
        display: none;
    }
}

/*.....Media for MAIN.....*/
/*........main-image........*/
@media (max-width: 1300px) {
    .main-image1 {
        margin: 50px auto 150px;
        position: relative;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 992px) {
    .front-title-top {
        margin-bottom: 40px;
    }
    .front-title-bottom {
        line-height: 1.1;
    }
}
@media (max-width: 575px) {
    .front-title-top {
        margin-bottom: 20px;
        gap: 20px;
    }
    .front-title-bottom {
        font-size: 30px;
    }
}
@media (max-width: 359px) {
    .front-title-top {
    display: none;
    }
}

/*......h2-title....*/
@media (max-width: 768px) {
    .h2-title {
        font-size: 35px;
        gap: 35px;
    }
}
@media (max-width: 430px) {
    .h2-title {
        font-size: 25px;
        gap: 15px;
    }
}

/*......session-variation.......*/
@media (max-width: 1188px) {
    .
}

/*........reviews.......*/
@media (max-width: 768px) {
    .reviews-one {
        width: 50%;
    }
    .reviews-one h3 {
        font-size: 14px;
        width: 50%;
        text-align: center;
    }
    .description-reviews-one {
        width: 80%;

    }
}