/*.....Media for HEADER.....*/
@media (max-width: 1110px) {
    .header-title {
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        align-items: center;
        margin: 30px 40px 0;
    }

}
@media (max-width: 1024px) {
    .navigation {
        position: absolute;
        right: 0;
        top: 90px;
        transform: translateX(100%);
        background-color: #162831;
        flex-direction: column;
        padding: 15px;
        height: calc(100vh - 90px);
        transition: all 0.3s ease-out 0s;
    }
    .navigation-list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0;
    }
    .registration {
        margin: auto;
    }
    .navigation-list a {
        padding: 15px;
    }
    .header-burger {
        display: flex;
    }
}
@media (max-width: 425px) {
    .navigation {
        width: 100%;
    }
    .header-image {
        width: 15%;
    }
}

/*.....Media for MAIN.....*/
/*........main-image........*/
@media (max-width: 1300px) {
    .main-image {
        margin: 30px auto 50px;
        position: relative;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 992px) {
    .front-title-top {
        margin-bottom: 40px;
    }
    .front-title-bottom {
        line-height: 1.1;
    }
}
@media (max-width: 668px) {
    .front-title-top {
        margin-bottom: 20px;
        gap: 20px;
    }
    .front-title-bottom {
        font-size: 30px;
    }
}
@media (max-width: 359px) {
    .front-title-top {
    display: none;
    }
}

/*......h2-title....*/
@media (max-width: 768px) {
    .h2-title {
        font-size: 35px;
        gap: 35px;
        margin-bottom: 60px;
    }
}
@media (max-width: 430px) {
    .h2-title {
        font-size: 22px;
        gap: 15px;
        margin-bottom: 30px;
    }
}

/*......session-variation.......*/
@media (max-width: 1188px) {
    .standart:hover .standart-line,
    .session-rs:hover .session-rs-line {
        display: none;
    }
}
@media (max-width: 1024px) {
    .session-variation {
        flex-direction: column;
    }
    .session-variation a {
        justify-content: center;
    }
    .standart {
        background-image: url("../images/session1.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-self: center;
        width: 100%;
        height: 260px;
    }
    .session-rs a {
        padding-bottom: 20px;
    }
    .variation {
        width: 100%;
        flex-direction: row;
    }
}
@media (max-width: 768px) {
    .session-variation, .variation {
        flex-direction: column;
    }
    .session-rs {
        background-position: center;
        border-radius: 10px;
    }
}

/*........info-rs........*/
@media (max-width: 992px) {
    .info h3 {
        margin-bottom: 20px;
    }
    .description-info p {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .description-info {
        max-width: 100%;
    }
    .image-info {
        max-width: 100%;
    }
    .info {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .info:not(:first-child) {
        flex-direction: column;
    }
    .info h3 {
        font-size: 20px;
    }
    .info-rs {
        gap: 25px;
        margin-bottom: 50px;
    }
}

/*........price.......*/
@media (max-width: 992px) {
    .certificate {
        max-width: 100%;
    }
    .price {
        flex-direction: column-reverse;
        gap: 60px;
    }
    .table-row {
        gap: 75px;
    }
}

/*........address....*/
@media (max-width: 1026px) {
    .wp-title {
        font-size: 18px;
    }
}
@media (max-width: 944px) {
    .address {
        flex-direction: column;
        gap: 20px;
    }
    .maps {
        flex-basis: 100%;
    }
    .img {
        height: 30vh;
    }
    .address-info {
        flex-basis: 100%;
    }
    .waterpool {
        align-items: center;
        gap: 10px;
    }
    .wp-address {
        flex-direction: column-reverse;
        align-items: center;
        gap: 5px;
    }
}